
/* Variables */

:root {
    --basic-grey: #eeeeee;
    --basic-white: #ffffff;
    --basic-grey: #4d4d4d;
    --basic-dark-grey: #283136;
    --basic-black: #000000;
    --basic-red: #fb565a;
    --dark-red: #e74246;
    --very-dark-red: #d7373b;
    --basic-green: #00ca74;
    --dark-green: #00bc6c;
    --very-dark-green: #00aa62;
    --basic-yellow: #efc84A;
    --dark-yellow: #eab534; 
    --very-dark-yellow: #e5a722;
    --basic-footer: #444444;
  }
  
  /* Global */
  
  body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-dark-grey);
    background-color: var(--basic-white);
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Main navigation */
  
  .main-navigation {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    color: var(--basic-font-black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
  }
  
  /* Logo */
  
  .main-header-logo {
    width: 160px;
    height: 65px;
    margin-top: 49px;
    margin-left: 140px;
  }
  
  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }